<h1>Comments</h1>

<table class="table table-bordered">
<thead>
    <tr>
    <th>Id</th>
    <th>Owner</th>
    <th>Date</th>
    <th>Approve Comments</th>
    <th>Delete</th>
    </tr>
</thead>

<tbody>
    {{#each comments}}
    <tr>
        <td>{{id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{generateDate date "MMMM Do YYYY"}}</td>
        <td><input data-id="{{id}}" type="checkbox" {{#if approveComment}} checked {{/if}} name="approveComment"></td>
        <td>
            <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
             <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</tbody>

</table>